@font-face{
    font-family: 'trushdex';
    src: url(fonts/trushdex.ttf);
}

div{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 15px;
}

.title{
    font-family: 'trushdex', Arial,;
    text-align: center;
    font-size: 80px;
}
